:root {
    --text-color: rgb(16, 15, 15);
    --bg-color: #FFFCF0;
    --link-color: #24837B; 
    --menu-item-active: rgb(218, 112, 44);
    --menu-item-inactive: rgb(135, 154, 57);
    --tag-button-color: rgb(230, 228, 217);
    --head-grad-color-1: rgba(249,249,249,1.0);
    --head-grad-color-2: rgba(249,249,249,0.70);
    --head-grad-color-3: rgba(249,249,249,0.0);
}

@media (prefers-color-scheme: dark) {
:root {
    --text-color: rgb(242, 240, 229);
    --bg-color: rgb(16, 15, 15);
    --link-color: #58a0d3;
    --tag-button-color: #333333;
    --head-grad-color-1: rgba(30,30,30,1.0);
    --head-grad-color-2: rgba(30,30,30,0.70);
    --head-grad-color-3: rgba(30,30,30,0.0);
  }

}
html {
    overflow-y: scroll;
}

#header-block {
    background-image: url("/banner.webp");
    display: flex;
    border-radius: 3px;
    background-size: 100%;
    background-position: 100% 15%;
    margin: 0.67em;
    border: none;
}

#site-title {
    margin: 0px;
    padding-right: 20px;
    background-color: var(--bg-color);
    display: inline-block;
}

#gradient {
   flex-grow: 1;
   background: linear-gradient(to right, var(--head-grad-color-1), var(--head-grad-color-2) 20%, var(--head-grad-color-3) 100%);
}


body {
  color: var(--text-color);
  background: var(--bg-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
  margin: 0 auto;
}

main {
    min-height: 20vh;
}


header {
  border-bottom: 1px solid var(--text-color);
  margin-bottom: 1rem;
}

article {
    font-family: serif;
}

article p:last-child:after { /* From https://rwt.io/typography-tips/marks-ends-and-middles-end-marks-sections-and-dead-ends */
  content: url("/favicon-scaled.ico");
  margin-left: 0.5rem;
  display: inline;
  font-family: Georgia, "New Times Roman", serif;
  font-size: 1.5em;
  line-height: 0.5;
}

a#menu-item {
    color: var(--menu-item-inactive);
}

a#menu-item.active {
    color: var(--menu-item-active);
}

li {
    display: inline;
    margin: 1rem;
}

div.tagbutton { /* For posts*/
    display: inline-block; 
    background-color: var(--tag-button-color);
    font-family: 'Courier New', Courier, monospace; 
    margin-left: 1.5rem;
}


h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

img {
   width: 400px;
   max-width: 90%;
   display: block;
   margin: 0 auto;
   margin-top: 5vh;
   margin-bottom: 5vh;
}

pre {
    white-space: pre-wrap;
    counter-reset: line;
    border-radius: 2px;
}

footer {
  border-top: 1px solid var(--text-color);
  margin-top: 1rem;
  padding-top: 1rem;
}

a {
  color: var(--menu-item-color);
}

#github-icon {
    width: 2rem; 
    display: block;
}

@media (prefers-color-scheme: dark) {
    #github-icon {
        -webkit-filter: invert(1);
        filter: invert(1);
    }
}
