{{ define "main" }}
<h1>{{ .Title }}</h1>
  {{ .Content }}
<div style="margin-bottom: 1em;">
{{range $name, $taxonomy := .Site.Taxonomies.tags}} {{ $cnt := .Count }}
	  {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
          <div class="tagbutton">
		<a href={{ .RelPermalink }} style="display: inline;" title="All pages with tag <i>{{$name}}</i>">{{$name}}</a>
		<sup>{{$cnt}}</sup>
          </div>
        {{end}}
        {{end}}
</div>

  {{ range .Pages }}
  <img src="icons/{{.File.BaseFileName}}.webp" style="width: 1.5em; display:inline; margin: 0px; margin-right: 0.3em; box-shadow: none !important;">
    <h2 style="padding-bottom: 0px; margin-bottom: 0px; vertical-align: left; display: inline;"><a href="{{ .RelPermalink }}">{{ .LinkTitle | humanize | title}}</a></h2>
    <p style="margin-top: 0px;">{{ .Date | time.Format ":date_medium" }}</p>
  {{ end }}
{{ end }}
