<!--<p style="display: inline-block;">Copyright {{ now.Year }}. All rights reserved.</p> -->
    <a href="https://github.com/StackGrandiose" target="_blank" ><img id="github-icon" src="/github-mark.png"/></a>
    <img src="/css2.gif" style="width: 81px; display: inline;"/>
    <iframe src="//incr.easrng.net/badge?key=apsom48" style="background: url(//incr.easrng.net/bg.gif); margin-top: 5vh; margin-bottom: 5vh; box-shadow: 5px 5px 5px #3a3a37;" title="increment badge" width="88" height="31" frameborder="0"></iframe>
