{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

<article>
{{ .Content }}
</article>

<ul class="page-list">
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range (where $pages "Section" "!=" "") }}
  <li>
    <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
    -
    <span class="date" style="text-align: right;">{{ .Date.Format "2006/01/02" }}</span>
  </li>
  {{ end }}
</ul>

{{ partial "footer.html" . }}
